# Virtual environment
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Static files if generated automatically
staticfiles/